# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env

# VS Code
.vscode/
unanswered_questions.txt
# Environment & secrets
.env
*.env.*

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db